# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LapTrinhWeb\Tiny-SocialNetwork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
